.btn,
.btn-5 {
    background-color: #fff
}

.btn-outline-success,
.btn-primary,
.btn-secondary {
    --bs-btn-active-color: black;
    --bs-btn-active-bg: white;
    --bs-btn-focus-shadow-rgb: 168, 17, 36
}

main,
nav,
nav ul {
    display: flex
}

.offer-img img,
footer,
nav {
    width: 100%
}

* {
    padding: 0;
    margin: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 80px
}

.first-nav ul {
    margin-right: 20px
}

.dropdown-2,
.hidden-menu {
    display: none
}

.logo {
    margin-top: 40px;
    margin-right: 120px
}

.hero-container,
.menu-third {
    position: relative
}

.hero-text,
.hero-volume,
.main-links,
.main-main,
.third-m {
    position: absolute
}

.third-m {
    right: 300px
}

.dropdown-menu,
.p-4 {
    width: 400px
}

nav ul {
    list-style: none
}

nav ul li {
    margin: 15px
}

nav ul li i {
    margin-right: 10px
}

.container a,
nav ul li a {
    text-decoration: none;
    color: #000;
    transition: 250ms
}

.login-a {
    text-decoration: none;
    color: #000;
    font-weight: 600
}

.btn,
.third-nav span {
    color: #e60000
}

.btn {
    border-color: #e60000
}

.btn-5,
.form-control {
    border-radius: 0;
    border-style: none none solid;
    border-color: #000
}

.btn-5 {
    color: #000
}

.me-2 {
    margin-right: 0 !important
}

.search-barra:active {
    text-decoration: none;
    outline-style: none
}

.btn-outline-success:hover,
.btn:hover {
    background-color: #e60000;
    border-color: #e60000;
    color: #fff
}

.dropdown-toggle {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 15px
}

.dropdown-toggle:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline
}

.container a:hover,
.login-a:hover,
.offer-img a:hover,
nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: black
}

.second-nav {
    justify-content: center
}

.btn-outline-success {
    --bs-btn-color: black;
    --bs-btn-border-color: #E60000;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: #E60000;
    --bs-btn-hover-border-color: #E60000;
    --bs-btn-active-border-color: #E60000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #E60000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #E60000;
    --bs-gradient: none
    --bs-btn-focus-box-shadow: white;
}

.btn-primary {
    --bs-btn-hover-bg: red;
    --bs-btn-hover-color: white
}

.btn-secondary {
    --bs-btn-hover-bg: white;
    --bs-btn-hover-color: black
}

.third-nav {
    justify-content: center;
    height: 30px;
    font-size: 12px
}

.main-links {
    margin-left: 45px
}

.search {
    margin-left: auto;
    margin-right: 20px
}

.main-main {
    margin-right: 350px
}

main {
    justify-content: space-between
}

.side-menu {
    flex-direction: column;
    width: 15%
}

.container,
section {
    flex-direction: column;
    display: flex
}

.container {
    margin: 20px;
    padding: 10px
}

.container h2 {
    margin-bottom: 10px
}

section {
    width: 80%
}

.hero-volume {
    display: flex;
    flex-direction: column;
    margin-left: 700px
}

.hero-volume i {
    color: #fff;
    font-size: 35px;
    margin-top: 20px
}

.bx-volume {
    margin: 5px
}

.hero-video {
    width: 770px;
    height: auto
}

.hero-text {
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    bottom: 0
}

.Socials a,
.offer-text {
    text-decoration: none;
    color: #000
}

.hero-video video {
    max-width: 100%;
    height: auto
}

.offers {
    display: flex
}

.offer-text {
    margin: 20px
}

footer {
    background-color: #e4e4e4;
    padding: 50px 150px
}

.Footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.Socials {
    display: flex;
    justify-content: center;
    align-items: center
}

.Socials a {
    margin: 12px
}

.Socials i:hover {
    color: grey
}

.Socials i {
    font-size: 25px;
    transition: 250ms
}

.footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer-logo {
    cursor: pointer
}

@media screen and (max-width:970px) {

    .hero-video,
    .offers {
        width: 400px;
        height: auto
    }

    .hero-video,
    .offers,
    .offers img {
        height: auto
    }

    .btn,
    .btn-secondary,
    .dropdown-toggle,
    .hidden-menu,
    .hidden-menu i {
        text-decoration: none
    }

    .hidden-menu {
        display: block;
        margin-right: 30px;
        margin-top: 10px
    }

    .dropdown,
    .first-nav ul,
    .main-links,
    .side-menu,
    .third-m {
        display: none
    }

    .Footer-items {
        flex-direction: column
    }

    .hero-video {
        margin-left: 150px
    }

    .hero-text {
        margin-left: 170px
    }

    .offers {
        flex-direction: column;
        margin-left: 150px
    }

    section {
        align-items: center;
        justify-content: center
    }

    .main-main {
        left: 0
    }

    .dropdown-2 {
        display: block;
        margin-left: 30px
    }

    .hero-container {
        margin-bottom: 50px;
        margin-top: 50px
    }

    .btn,
    .btn-outline-success {
        font-size: 24px
    }

    .dropdown-menu a,
    .dropdown-menu i,
    .hidden-menu i {
        font-size: 30px
    }

    .hero-volume {
        margin-left: 150px
    }
}

@media screen and (max-width:450px) {

    .offers,
    .offers img {
        height: auto
    }

    .dropdown-2 {
        display: block;
        margin-left: 10px
    }

    .btn,
    .btn-outline-success {
        font-size: 18px
    }

    footer {
        padding: 0
    }

    .hero-video {
        margin-left: 40px;
        width: 100%
    }

    .hero-text {
        margin-left: 45px
    }

    .hero-volume {
        margin-left: 40px
    }

    .offers {
        margin-left: 70px;
        width: 100%
    }

    .container {
        margin: 0
    }

    .form-control,
    .me-2 {
        width: 140px
    }
}

@media screen and (max-width:350px) {

    .btn,
    .btn-outline-success {
        font-size: 20px;
        padding: 0
    }
}